.box {
    background-color: var(--color-box);
    border-radius: 4px;
    aspect-ratio: 1 / 1;
    margin: auto;
    width: var(--target-width);
    height: var(--target-width);
    min-height: var(--target-width);
    min-width: var(--target-width);
    display: block;
    z-index: 2;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;

    transition: scale .25s;
    scale:1 1;
    transform-origin: bottom center;
}

.box-sub {
    display: flex;
    aspect-ratio: 1 / 1;
    width: var(--target-width);
    min-height: var(--min-width);
    align-items: center;
    justify-content: center;
}

.box-sub h1 {
    color:var(--color-box-text);
    padding: 10px;
    transition: color .5s;
}

.box-overlay {
    font-family: 'Kiddo Regular';
    z-index: 1;
    font-size: 115px;
    line-height: 138px;
    text-align: center;
    align-self: center;
    position: relative;

    transition: opacity var(--anim-box-time);
    opacity: 1;
}

#overlay-text {
    top: -75%;
    left: 0;
    color:var(--color-box-text);
    -webkit-transform: rotate(var(--overlay-rotation)) scale(1, 1);
    /* Safari */
    -moz-transform: rotate(var(--overlay-rotation)) scale(1, 1);
    /* Firefox */
    -ms-transform: rotate(var(--overlay-rotation)) scale(1, 1);
    /* IE */
    -o-transform: rotate(var(--overlay-rotation)) scale(1, 1);
    /* Opera */
    transform: rotate(var(--overlay-rotation)) scale(1, 1);
}

#overlay-icon {
    top: -105%;
    left: 70%;
    width: 80px;
    height: 80px;
}

.box-overlay.hidden {
    opacity: 0;
    transform: scale(1.5, 1.5);
    transition: all 0s;
}

.questions {
    display: flex;
    flex-direction: column;
    width: var(--target-width);
    text-align: center;
    align-self: center;
    margin: auto;
}


rbfb-list-item .title {
    width: 245px;
}

rbfb-list-item .correct {
    width: 29px;
    text-align: right;
    margin-left: auto;
}

rbfb-list-item .fake {
    width: 29px;
    text-align: left;
    margin-right: auto;
}

rbfb-list-item.shown {
    transition: border-color var(--anim-box-time);
    border-color: var(--color-day);
}

rbfb-list-item.hidden {
    transition: border-color var(--anim-box-time);
    border-color: var(--color-grey);
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button-group rbfb-button {
    margin-left: 13px;
    margin-right: 13px;
}

.topic-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#topic {
    width: var(--topic-width);
}

.shown .title,
.shown .fake,
.shown .correct {
    transition: opacity var(--anim-box-time);
    opacity: 1;
}

.hidden .title,
.hidden .fake,
.hidden .correct {
    transition: opacity var(--anim-box-time);
    opacity: 0;
}

.correct {
    text-align: right;
}

.answer {
    rotate: calc(var(--overlay-sign) * var(--box-rotation));
    translate: calc(var(--overlay-sign) * var(--box-translate));

    transition: rotate var(--anim-box-time),
        translate var(--anim-box-time),
        background-color var(--anim-box-time),
        opacity var(--anim-box-time);
}

.exit-correct {
    translate: calc(var(--overlay-sign) * 100%);
    opacity: 0;
}

.exit-incorrect {
    /* transform: translateY(100%); */
    translate: calc(var(--overlay-sign) * var(--box-translate)) 100%;
    opacity: 0;
}

#box.intermediate
{
    transition: all 0s;
    scale: 1 0;
}

.arrive {
    transition: scale 0.25s;
    scale: 1 1;
}

.arrive #question
{
    transition: all 0s;
}