#home
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home .splash {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    min-height: 200px;
    min-width: var(--min-width);
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding-top: 80px;
}

.logo-header {
    height: 62px;
    width: 166px;
}

.anim {
    height: 170px;
}

.footer {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: var(--font-size-footer);
    font-family: 'Quadrant';
}