#home
{
    flex-direction: column;
}

.logo-header {
    height: 62px;
    width: 166px;
}

.anim {
    height: 170px;
}

.footer {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: var(--font-size-footer);
    font-family: 'Quadrant';
}

#footer-text{
    width:var(--box-width);
    margin: auto;
}