

.splash {
    position: relative;
        width: 100%;
        height: fit-content;
    display: flex;
    min-height: 200px;
        min-width: var(--min-width);
    justify-content:start;
    align-items:center;
    padding-top:138px;
    flex-direction: column;
    text-align: center;
}

.image {
    min-width: 40%;
}

.image.logo {
    height: 150px;
}

.image.logo-header {
    height: 62px;
        width: 176px;
}

.image.anim
{
    height: 150px;
}


.footer {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: var(--font-size-footer);
    font-family: 'Quadrant';
}