:root {
    --font-size-base: 25px;
    --font-size-button: 15px;
    --base: #fff8e6;
    --color-black: #000000;
    --color-cream: #fff8e6;
    --color-grey: #D6D3A3;
    --header-height: 26px;
}

body {
    width: 100%;
    height: fit-content;
    margin: 0;
    background-color: var(--base);
}

body.bgColorOn {
    animation: bodyFadeIn ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

body.bgColorOff {
    animation: bodyFadeOut ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes bodyFadeIn {
    0% {
        background-color: var(--color-cream);
    }

    100% {
        background-color: var(--base);
    }
}

@keyframes bodyFadeOut {
    0% {
        background-color: var(--base);
    }

    100% {
        background-color: var(--color-cream);
    }
}


h1 {
    font-family: "Kyneton DemiBold";
    font-size: 32px;
    letter-spacing: 0%;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Kyneton DemiBold';
    font-size: 14px;
    letter-spacing: 2%;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-family: 'Quadrant';
    font-size: 18px;
    letter-spacing: 0%;
    line-height: 24px;
    text-transform: none;
    font-weight: normal;
    margin: 0;
}


h4 {
    font-family: 'Quadrant';
    font-size: 14px;
    letter-spacing: 2%;
    line-height: 17px;
    text-transform: none;
    font-weight: normal;
    margin: 0;
}

h5 {
    font-family: 'Kiddo Regular';
    font-size: 20px;
    letter-spacing: -5%;
    line-height: 24px;
    text-transform: none;
    font-weight: normal;
    margin: 0;
}

.header {
    height: var(--header-height);
    margin: 0;
    padding: 0;
    background-color: var(--base);
    text-align: center;
    font-family: "Kyneton Regular";

    border-bottom: 1.5px solid black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.pages {
    position: relative;
    width: 100%;
    height:100%;
}

.button {
    /* cursor: pointer; */
    width: 50%;
    height: 30%;
    margin: 0;
    color: black;

    text-decoration: none;

    margin-bottom: 0;

    font-size: var(--font-size-button);
    font-family: 'Kyneton DemiBold';

    font-weight: normal;
    white-space: nowrap;

    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}


.button {
    background-image: url("../assets/button_unselected.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 55px;
    width: 130px;
}

.button:hover {
    background-image: url("../assets/button_hover.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 55px;
    width: 130px;
}

.button:active {
    background-image: url("../assets/button_front_selected.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 55px;
    width: 130px;
}

.button h2{
    margin-top:-2%;
}

.button:active h2 {
    margin-top: 0%;
}

a:hover,
a:visited,
a:link,
a:active {
    color: #000;
}

.ignore-input {
    pointer-events: none
}

@font-face {
    font-family: "Kiddo Regular";
    src: url("https://freight.cargo.site/m/F2054521069491579192896325595643/Kiddo-Regular.woff");
}

@font-face {
    font-family: "Kyneton Regular";
    src: url("../fonts/KynetonArtGrotesque-Regular.otf");
}

@font-face {
    font-family: "Kyneton DemiBold";
    src: url("../fonts/KynetonArtGrotesque-DemiBold.otf");
}

@font-face {
    font-family: "Quadrant";
    src: url("../fonts/QuadrantTextTrial-Regular.otf");
}

@media (max-width: 1700px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --fullwidth: 100%;
        --font-size-blurb: 35px;
        --font-size-footer: 30px;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --fullwidth: 100%;
        --font-size-blurb: 35px;
        --font-size-footer: 30px;
    }
}

@media (max-width: 1150px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --fullwidth: 100%;
        --font-size-blurb: 35px;
        --font-size-footer: 30px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --fullwidth: 100%;
        --font-size-blurb: 35px;
        --font-size-footer: 30px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --fullwidth: 100%;
        --font-size-blurb: 35px;
        --font-size-footer: 30px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --fullwidth: 100%;
        --font-size-blurb: 35px;
        --font-size-footer: 30px;
    }
}