:root {
    --font-size-base: 25px;
    --font-size-button: 15px;
    --color-black: #000000;
    --color-cream: #fff8e6;
    --color-grey: #D6D3A3;
    --color-base: #fff8e6;
    --header-height: 26px;
    --table-min-height:100;
    --anim-page-transition-time:.5s;
    --button-text-offset:-2%;
    --min-width:250px;
    --box-width:310px;
}

body {
    width: 100%;
    height: fit-content;
    margin: 0;
    background-color: var(--color-base);
}

body.bgColorOn {
    animation: bodyFadeIn ease var(--anim-page-transition-time);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

body.bgColorOff {
    animation: bodyFadeOut ease var(--anim-page-transition-time);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes bodyFadeIn {
    0% {
        background-color: var(--color-cream);
    }

    100% {
        background-color: var(--color-base);
    }
}

@keyframes bodyFadeOut {
    0% {
        background-color: var(--color-base);
    }

    100% {
        background-color: var(--color-cream);
    }
}


h1 {
    font-family: "Kyneton DemiBold";
    font-size: 32px;
    letter-spacing: 0em;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Kyneton DemiBold';
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-family: 'Quadrant';
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 24px;
    text-transform: none;
    font-weight:400;
    margin: 0;
}


h4 {
    font-family: 'Quadrant';
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 17px;
    text-transform: none;
    font-weight: normal;
    margin: 0;
}

h5 {
    font-family: 'Kiddo Regular';
    font-size: 20px;
    letter-spacing: -0.05em;
    line-height: 24px;
    text-transform: none;
    font-weight: normal;
    margin: 0;
}

.header {
    height: var(--header-height);
    margin: 0;
    padding: 0;
    text-align: center;

    border-bottom: 1.5px solid black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

    animation: headerHome ease var(--anim-page-transition-time);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.header.ingame {
    background-color: var(--color-cream);
    animation: headerIngame ease var(--anim-page-transition-time);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes headerIngame {
    0% {
        background-color: var(--color-base);
    }
    
    100% {
        background-color: var(--color-cream);
    }
}

@keyframes headerHome {
    0% {
        background-color: var(--color-cream);
    }
    
    100% {
        background-color: var(--color-base);
    }
}

.pages {
    position: relative;
    width: 100%;
    height:100%;
}

.button {
    /* cursor: pointer; */
    width: 50%;
    height: 30%;
    margin: 0;
    color: black;

    text-decoration: none;

    margin-bottom: 0;

    font-size: var(--font-size-button);
    font-family: 'Kyneton DemiBold';

    font-weight: normal;
    white-space: nowrap;

    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.button {
    background-image: url("../assets/button_unselected.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 55px;
    width: 130px;
    padding-block: 0;
    padding-inline: 0;
    border-width: 0;
    border-style: none;
    border-color:black;
    border-image: none;
    background-color: Transparent;
}

.button:hover {
    background-image: url("../assets/button_hover.svg");
}

.button:active {
    background-image: url("../assets/button_front_selected.svg");
}

.button h2{
    margin-top:var(--button-text-offset);
}

.button:active h2 {
    margin-top: 0%;
}

.button img
{
    margin-top:var(--button-text-offset);
}

.button:active img
{
    margin-top: 0%;
}

.button:disabled {
background-image: url("../assets/button_front_unselected.svg");
   opacity: 0.7;
}
.button:disabled h2 {
    margin-top: 0%;
}
.button:disabled img
{
    margin-top: 0%;
}

.flexcontainer
{
    display: flex; 
    align-items: center;
    justify-content: center;
}

a:hover,
a:visited,
a:link,
a:active {
    color: #000;
}

.ignore-input {
    pointer-events: none
}

@font-face {
    font-family: "Kiddo Regular";
    src: url("https://freight.cargo.site/m/F2054521069491579192896325595643/Kiddo-Regular.woff");
}

@font-face {
    font-family: "Kyneton Regular";
    src: url("../fonts/KynetonArtGrotesque-Regular.otf");
}

@font-face {
    font-family: "Kyneton DemiBold";
    src: url("../fonts/KynetonArtGrotesque-DemiBold.otf");
}

@font-face {
    font-family: "Quadrant";
    src: url("../fonts/QuadrantTextTrial-Regular.otf");
}

@media (max-width: 1920px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width:250px;
        --box-width:310px;
    }
}

@media (max-width: 1700px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --box-width:310px;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --box-width:310px;
    }
}

@media (max-width: 1150px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --box-width:310px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --box-width:310px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --box-width:310px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 25px;
    }

    :root {
        --min-width: 250px;
        --box-width:310px;
    }
}