rbfb-button {
    cursor: pointer;
    color: black;

    text-decoration: none;

    font-size: var(--font-size-button);
    font-family: 'Kyneton DemiBold';

    font-weight: normal;
    white-space: nowrap;

    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;

    min-height: 55px;
    min-width: 132px;
    padding-block: 0;
    padding-inline: 0;
    border-width: 0;
    border-style: none;
    border-color: black;
    border-image: none;
    background-color: Transparent;
    position: relative;
    margin-top: calc(-1* var(--button-text-offset))
}

rbfb-button svg {
    position: absolute;
    stroke: black;
    stroke-width: 1.5;
    stroke-linejoin: round;
    top: 0;
    left: 0;
}

rbfb-button svg.top {
    fill: var(--color-cream);
    margin-top: var(--button-text-offset);
    z-index: -1;
}

rbfb-button svg.bottom {
    fill: var(--color-black);
    z-index: -2;
}

rbfb-button h2 {
    position: relative;
    margin-top: calc(var(--button-text-offset)*2);
}

rbfb-button img {
    position: relative;
    top: calc(var(--button-text-offset));
}

@media(hover: hover) and (pointer: fine) {

    rbfb-button:hover svg.top {
        margin-top: 0;
    }

    rbfb-button:hover h2 {
        margin-top: 0;
    }

    rbfb-button:hover img {
        top: 0;
    }
}

rbfb-button:active svg.top {
    margin-top: 0;
    fill: var(--color-grey);
}

rbfb-button:active h2 {
    margin-top: 0;
}


rbfb-button:active img {
    top: 0;
}


rbfb-button.disabled {
    pointer-events: none;
    color: var(--color-grey);
}

rbfb-button.disabled svg.top {
    fill: var(--color-cream);
}

rbfb-button.disabled h2 {
    margin-top: 0;
}

rbfb-button.disabled svg {
    stroke: var(--color-grey);
    margin-top: 0px;
}


rbfb-button.disabled img {
    top: 0;
    filter: invert(93%) sepia(10%) saturate(913%) hue-rotate(9deg) brightness(93%) contrast(86%);
}


rbfb-button.disabled .bottom {
    fill: var(--color-grey);
    z-index: -2;
}


rbfb-button.hidden {
    display: none;
}


rbfb-list-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    height: 25px;
    border-bottom: 1.5px solid;
    border-radius: .5px;
}

rbfb-list-item.shown {
    animation: trFadeIn ease .25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

rbfb-list-item.hidden {
    animation: trFadeOut ease .25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


@keyframes trFadeIn {
    0% {
        border-color: var(--color-grey);
    }

    100% {
        border-color: var(--color-base);
    }
}

@keyframes trFadeOut {
    0% {
        border-color: var(--color-base);
    }

    100% {
        border-color: var(--color-grey);
    }
}